<div class="forgot-password-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
      <h3 class="main-heading">Forgot Password</h3>
    </div>
  </div>

  <form autocomplete="off" [formGroup]="form" *ngIf="form">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
        <div class="form-group">
          <app-form-control>
            <label for="email">Email</label>
            <input type="text" pInputText id="email" [formControlName]="'email'">
          </app-form-control>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="d-flex justify-content-center">
          <p-button (click)="onSendResetPasswordEmailClicked()" class="p-button-primary" label="Send Reset Password Email"></p-button>
        </div>
      </div>
    </div>
  </form>
</div>
